{
    "plugins": [
      ["module-resolver", {
        "root": ["./src"],
        "alias": {
          "@constants": "./src/constants",
          "@mock": "./tests/mock",
          "@routes": "./src/routes",
          "@src": "./src",
          "@tests": "./tests",
          "@utils": "./src/utils"
        }
      }]
    ]
  }